
# PlanAhead Generated physical constraints 


NET "digit<0>"   		LOC = N16;
NET "digit<1>"   		LOC = N15;
NET "digit<2>"   		LOC = P18;
NET "digit<3>"   		LOC = P17;
NET "segment<0>"    	LOC = T17;
NET "segment<1>"    	LOC = T18;
NET "segment<2>"    	LOC = U17;
NET "segment<3>"    	LOC = U18;
NET "segment<4>"    	LOC = M14;
NET "segment<5>"    	LOC = N14;
NET "segment<6>"    	LOC = L14;
NET "digit_point"    LOC = M13;
NET "leds[7]" LOC = T11;
NET "leds[6]" LOC = R11;
NET "leds[5]" LOC = N11;
NET "leds[4]" LOC = M11;
NET "leds[3]" LOC = V15;
NET "leds[2]" LOC = U15;
NET "leds[1]" LOC = V16;
NET "leds[0]" LOC = U16;
NET "operand1[0]" LOC = T10;
NET "operand1[1]" LOC = T9;
NET "operand1[2]" LOC = V9;
NET "operand1[3]" LOC = M8;
NET "operand2[0]" LOC = N8;
NET "operand2[1]" LOC = U8;
NET "operand2[2]" LOC = V8;
NET "operand2[3]" LOC = T5;
NET "add_button" LOC = C4;
NET "sub_button" LOC = D9;
NET "op_ready_button" LOC= C9; 
NET "clk" LOC = V10;
NET "reset" LOC = B8;